#notallowed{     
    min-height: 720px;
    position: relative;
    height: 100%;
    background: url(../images/volcano.jpg) center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    text-align: center;
 }
 
 html, body 
 {
     height: 100vh;
     background-color: #faebd7;   
 }

 #loader
 {
     //visibility: hidden;
     text-align: center;
 }